#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  border-radius:13px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base: #232136;
  --surface: #2A273F;
  --overlay: #393552;
  --muted: #6E6A86;
  --subtle: #908CAA;
  --text: #E0DEF4;
  --love: #EB6F92;
  --gold: #F6C177;
  --rose: #EA9A97;
  --pine: #3E8FB0;
  --foam: #9CCFD8;
  --iris: #C4A7E7;
  --highlight-low: #2A283E;
  --highlight-med: #44415B;
  --highlight-high: #56526E;


  color-scheme: light dark;
}

/* Centrer tout le texte */
* {
    text-align: center;
}

/* Titres */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

/* Liens */
a {
    text-align: center;
}

/* Paragraphes */
p {
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    background-color:var(--base);
}

.light .dark {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.light {
  background-color:var(--muted);
}

.dark {
  background-color:var(--surface);
}

.pages {
  background-color:var(--base);
  padding:0rem;
  margin:0rem;
}

li {
  color:var(--text);
} 
